body {
  width: 100vw;
  overflow: hidden;
}
/* navbar */
.navbar-brand {
  font-weight: bold;
  font-size: 1.4rem !important;
}

/* Explore page */
.page-title {
  padding: 10px;
}

.explore-card {
  height: 81vh;
  min-width: 400px !important;
  width: 25vw;
  margin: auto;
}

.match-btn {
  width: 100%;
}

.fa-space-shuttle {
  padding-left: 10px;
}

.badge {
  font-size: 1.2rem !important;
  margin: 0px 5px;
}

.categories-holder {
  display: flex;
  overflow: scroll;
  cursor: pointer;
}

.categories-holder::-webkit-scrollbar {
  display: none;
}

.swiping-card {
  align-items: flex-start !important;
  justify-content: flex-start !important;
  padding: 10px;
  font-size: 1.2rem;
}
